*{
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize; 
}
body{
    min-height: 100vh;
    display: grid;
    place-content: center;
}
.container{
    width: 600px;
    height: 400px;
    box-shadow: 0px 10px 10px 0px black;
    border-radius: 10px;
    background-color: aquamarine;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70vw;
    min-height: 60vh;
}
.box h1{
    display: flex;
    font-weight: bold;
    font-size: larger;
    margin: 20px 0px;

}
.box input{
    margin: 15px;
    width: 450px;
    height: 30px;
    padding: 10px;
    border: 0;
    font-size: 1rem;
    border-radius: 10px;
}
.box button{
    height: 30px;
    width: 200px;
    margin-top: 20px;
    background-color: rgb(216, 244, 247);
    color: black;
    border: 0;
    outline: none;
    font-size: medium;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
}
