/* Reset CSS */
* {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

/* Body Styles */
body {
    /* Set background image and style */
    background-image: url(https://img.freepik.com/free-photo/plant-twig-with-many-flowers_23-2148031413.jpg?t=st=1711202021~exp=1711202621~hmac=3ced432e666d1889d5fcb135b657e1068846bd17a03ce825c6d36e5f00845739);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.container {
    /* Set background color, width, height, shadow, and border radius */
    width: 600px;
    height: 400px;
    box-shadow: 0px 10px 10px 0px black;
    border-radius: 10px;
    background-color: rgb(136, 190, 156);
}

.content {
    /* Set styles for the content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    /* Set styles for the box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70vw;
    min-height: 60vh;
}

.box h1 {
    /* Set styles for box heading */
    display: flex;
    font-weight: bold;
    font-size: larger;
    margin: 20px 0px;

}

.box input {
    /* Set styles for input fields */
    margin: 15px;
    width: 450px;
    height: 30px;
    padding: 10px;
    border: 0;
    font-size: 1rem;
    border-radius: 10px;
}

/* Button styles */
.box button {
    /* Set styles for the button */
    height: 30px;
    width: 200px;
    margin-top: 20px;
    background-color: rgb(208, 248, 240);
    color: black;
    border: 0;
    outline: none;
    font-size: medium;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
}

p {
    font-size: smaller;
    font-weight: 300;
}

.result {
    font-size: small;
    font-weight: 900;
}

/*Footer Styles  */
footer {
    /* Set styles for the footer */
    height: 50px;
    background-color: rgb(170, 247, 234);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

/* Footer text styles */
footer p {
    /* Set styles for the footer text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}