/* Reset CSS */
* {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

/* Body Styles */
body {
    /* Set background image and style */
    background-image: url(https://img.freepik.com/free-photo/background-with-wildflowers-left_23-2147721623.jpg);
    display: grid;
    place-content: center;
}

/* Container Styles */
.container {
    /* Set background color, width, height, shadow, border radius and margin-top */
    background-color: rgb(219, 232, 243);
    width: 600px;
    height: 400px;
    box-shadow: 0px 10px 10px 0px black;
    border-radius: 10px;
    margin-top: 30px;
}

.content {
    /* Set styles for content */
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    /* Set styles for box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70vw;
    min-height: 60vh;
}

.box h1 {
    /* Set styles for the heading inside the box */
    font-size: larger;
    font-weight: 700;
    color: rgb(3, 3, 3);
}

nav ul li {
    /* Set styles for the navbar links */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

a {
    font-size: large;
    color: rgb(136, 136, 218);
}

footer {
    /* Set styles for the footer */
    height: 50px;
    background-color: rgb(194, 230, 245);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

footer p {
    /* Set styles for the footer text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}