body{
    background-image: url(https://img.freepik.com/premium-photo/white-christmas-decoration-snowflake-toy-blue-background-merry-christmas-happy-new-year_75163-1516.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
a {
    font-size: larger;
    font-weight: 900;
    color:rgb(8, 7, 6);
}
footer{
    /* Set styles for the footer */
    height: 50px;
    background-color: rgb(194, 230, 245);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    }
    footer p{
         /* Set styles for the footer text */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
    }
    