/* Reset CSS */
* {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
/* Body styles */
body {
    /* Set background image and style */
    background-image: url(https://img.freepik.com/free-photo/gypsophila-leaves-corner-blue-background_23-2148048408.jpg?t=st=1711112529~exp=1711116129~hmac=fca71b7152dcaf2c0cc13075d701da83a531ac8306bc51d8a2ac0f73c5a4c18f&w=740);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

/* Container Styles */
.container {
    /* Set background color, width, height, shadow, and border radius */
    background-color: rgb(219, 232, 243);
    width: 600px;
    height: 400px;
    box-shadow: 0px 10px 10px 0px black;
    border-radius: 10px;
}

.content {
    /* Set styles for the content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pack {
    /* Set styles for the pack */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70vw;
    min-height: 60vh;
}

.pack h2 {
    /* Set styles for the heading */
    display: flex;
    font-weight: bold;
    font-size: larger;
    margin: 20px 0px;
}

.pack input {
    /* Set styles for the heading */
    margin: 15px;
    width: 400px;
    height: 30px;
    padding: 10px;
    border: 0;
    font-size: 1rem;
    border-radius: 10px;
}
/* Button Styles */
.pack button {
    /* Set styles for button */
    height: 30px;
    width: 150px;
    margin-top: 20px;
    background-color: rgb(216, 244, 247);
    color: black;
    border: 0;
    outline: none;
    font-size: medium;
    font-weight: 500;
    border-radius: 30px;
    cursor: pointer;
}
/* Footer Styles */
footer {
    /* Set styles for the footer */
    height: 50px;
    background-color: rgb(196, 241, 241);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}
/* Footer text styles */
footer p {
    /* Set styles for the footer text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}